.c1{
    color: #E0E01D;
}

.c2{
    color: #fcfcfc;
}

.c3{
    color: #000000;
}

.bc1{
     background-color: #000000;
}


.bc2{
    background-color: #be3fe4;
}

.bc3{
   background-color: #E0E0E0;
}

/*geral*/

.fx{
    display: flex;
}

.fxw{
    flex-wrap: wrap;
}

.centraliza{
    text-align: center;
}
.normal{ display: block; clear: both;}


/*padrão do pc*/
@media only screen and (max-width: 4000px){
    .col-xl-1{width: 8.33%;}
    .col-xl-2{width: 16.66%;}
    .col-xl-3{width: 25%;}
    .col-xl-4{width: 33.33%;}
    .col-xl-5{width: 41.65%;}
    .col-xl-6{width: 50%;}
    .col-xl-7{width: 58.31%;}
    .col-xl-8{width: 66.64%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.33%;}
    .col-xl-11{width: 91.66%;}
    .col-xl-12{width: 100%;}
    .xl-fl{float: left;}
    .xl-centraliza{text-align: center;}
    .xl-normal{ display: block; clear: both;}
    .xl-esconder{display: none;}
    .xl-mostrar{display: block;}
    .xl-direita{text-align: right;}
    .xl-esquerda{text-align: left;}
}

/* padrão do tablet*/
@media only screen and (max-width: 1000px){
    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.66%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.32%;}
    .col-sm-5{width: 41.65%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.31%;}
    .col-sm-8{width: 66.64%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66%;}
    .col-sm-12{width: 100%;}
    .sm-fl{float: left;}
    .sm-centraliza{text-align: center;}
    .sm-normal{ display: block; clear: both;}
    .sm-esconder{display: none;}
    .sm-mostrar{display: block;}
    .sm-direita{text-align: right;}
    .sm-esquerda{text-align: left;}
}

/* padrão do celular*/

@media only screen and (max-width: 600px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.32%;}
    .col-5{width: 41.65%;}
    .col-6{width: 50%;}
    .col-7{width: 58.31%;}
    .col-8{width: 66.64%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
    .esconder{display: none;}
    .mostrar{display: block;}
    .direita{text-align: right;}
    .esquerda{text-align: left;}
}

/* talvez */

    .mr-1{width: 8.33%;}
    .mr-2{width: 16.66%;}
    .mr-3{width: 25%;}
    .mr-4{width: 33.33%;}
    .mr-5{width: 41.65%;}
    .mr-6{width: 50%;}
    .mr-7{width: 58.31%;}
    .mr-8{width: 66.64%;}
    .mr-9{width: 75%;}
    .mr-10{width: 83.33%;}
    .mr-11{width: 91.66%;}
    .mr-12{width: 100%;}


    .ml-1{width: 8.33%;}
    .ml-2{width: 16.66%;}
    .ml-3{width: 25%;}
    .ml-4{width: 33.33%;}
    .ml-5{width: 41.65%;}
    .ml-6{width: 50%;}
    .ml-7{width: 58.31%;}
    .ml-8{width: 66.64%;}
    .ml-9{width: 75%;}
    .ml-10{width: 83.33%;}
    .ml-11{width: 91.66%;}
    .ml-12{width: 100%;}
    
    