
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 5px;
    font-weight: 700;
}

.section-subtitle {
    text-align: center;
    font-size: 1em;
    color: #e6dddd;
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #ff9900; 
    color: white;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block; 
    text-align: center;
    width: 250px; 
    margin: 20px auto 0; /* Centraliza */
}

.btn-primary:hover {
    background-color: #e68a00;
}


.hero-section {
    background-color: #885252;
    height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: white;
    position: relative;
    transition: 2s;
}

.hero-section:hover{
    background-color: purple;
    transition: 2s;
    cursor: pointer;
    color: white;
}

.hero-section2:hover{
    background-color: purple;
    transition: 2s;
    cursor: pointer;
    color:yellow;
}

.hero-content {
    max-width: 60%;
    position: relative; 
    margin-top: -100px; 
}

.hero-title {
    background-color: #141414; 
    padding: 15px 25px;
    display: inline-block;
    font-size: 2.5em;
    line-height: 1.2;
    margin: 0;
    font-weight: 700;
    border-radius: 14px;
}

.form-container {
    background-color: #333; 
    color: white;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: -50px; 
    border: solid rgb(194, 203, 18) 3px;
}

.form-container h2 {
    background-color: #007bff; 
    margin: -20px -20px 20px -20px;
    padding: 15px 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}

.form-container input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    background-color: #444;
    color: white;
    box-sizing: border-box;
}

.form-container .btn-primary {
    width: 100%;
    margin: 10px 0;
}

.form-small-text {
    text-align: center;
    font-size: 0.8em;
    color: #aaa;
    margin-top: 15px;
}


.featured-properties {
    padding: 60px 20px;
    text-align: center;
    font-family: cursive;
    background-color: #910c4f;
    color: white;
}

.properties-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap; 
    color: rgb(17, 17, 17);
}

.property-card {
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
    background-color: white;
    border: solid black 4px;
    border-radius: 5px;
    font-family: cursive;
    color: rgb(17, 17, 17);
}

.property-img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    background-color: #ccc; 
}

.property-info {
    padding: 15px;
}

.property-info h3 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

.property-info p {
    font-size: 0.9em;
    color: rgb(17, 17, 17);
    margin: 0;
}


.what-we-offer {
    background-color: #d51c1c; 
    color: white;
    padding: 60px 20px;
    font-family: cursive;
}

.what-we-offer .section-title {
    color: white;
}

.what-we-offer .section-subtitle {
    color: #ffcccc;
}

.offer-items {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    text-align: center;
    flex-wrap: wrap;
    
}

.offer-item {
    width: 150px;
}

.offer-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(29, 28, 28);
    color: #fbf5f5;
    font-size: 2em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    border: 3px solid #ffcccc;
    font-family: cursive;
}

.offer-item h3 {
    margin: 0;
    font-size: 1.1em;
}


.about-us {
    padding: 60px 20px;
    text-align: center;
    background-color: rgb(4, 4, 82);
    color: white;
    font-family: cursive;
}

.about-content {
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: left;
    color: white;
}

.about-img {
    width: 40%;
    height: 300px;
    object-fit: cover;
    background-color: #ccc; 
    border-radius: 20px;
}

.about-text {
    width: 60%;
    color: white;
    font-family: cursive;
}

.about-text p {
    margin-bottom: 20px;
    color: white;
}

.about-text .btn-primary {
    margin-left: 0;
    color: white;
}


.find-dream-home {
    background-color: #257d25; 
    color: white;
    padding: 60px 20px;
    font-family: cursive;
}

.find-dream-home .section-title {
    color: white;
    margin-bottom: 40px;
}

.dream-home-content {
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: left;
}

.dream-home-text {
    width: 60%;
}

.dream-home-img {
    width: 40%;
    height: 250px;
    object-fit: cover;
    background-color: #ccc; 
    border-radius: 20px;
}

.dream-home-text .btn-primary {
    background-color: #ff9900;
    margin-left: 0;
}


.testimonials {
    padding: 60px 20px;
    text-align: center;
    font-family: cursive;
    background-color: rgb(32, 11, 70);
    color: white;
}

.testimonial-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.testimonial-card {
    width: 280px;
    text-align: center;
}

.client-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #007bff; 
    background-color: #7f7b7b; 
}

.testimonial-card p {
    font-style: italic;
    font-size: 0.9em;
    color: #666;
    height: 60px; 
}

.testimonial-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: 700;
}


.footer {
    background-color: #333;
    height: 50px;
}


.esx{
      text-align: center;
      color: white;
      text-decoration: none;
      padding-top: 10px;
      cursor: pointer;
      transition: 2s;
   
    font-family: cursive;
}

.esx:hover{
    color: yellow;
    transition: 2s;
   
}

footer p {
    padding-top: 10px;
}


.hero-section2 {
    background-color: #885252;
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color:yellow;
    position: relative;
    transition: 2s;
    font-family: cursive;
   
}

a{
text-decoration: none;
color: yellow;

}   

.a2{
    text-decoration: none;
    color: black;
}

.seta{
    z-index: 2;
    position: fixed;
    top: 860px;
    font-size: 30px;
    background-color: white;
    border-radius: 30px;
    width: 50px;
    text-align: center;
    margin-left: 1810px;
    
}


/* --- (Mobile) --- */

@media (max-width: 768px) {
   
    .hero-section {
        flex-direction: column; 
        height: auto;
        padding: 50px 20px;
    }

    .hero-content {
        max-width: 100%;
        margin-top: 0;
        text-align: center;
        order: 2; 
    }

    .hero-title {
        font-size: 1.8em;
        padding: 10px;
        line-height: 1.3;
    }

    .form-container {
        width: 100%; 
        margin-top: 0;
        margin-bottom: 30px;
        order: 1; 
    }

    
    .properties-grid {
        flex-direction: column;
        align-items: center;
    }

    .property-card {
        width: 100%;
        max-width: 400px;
    }


    .offer-items {
        flex-direction: column;
        align-items: center;
    }

    /* --- Sobre Nós --- */
    .about-content {
        flex-direction: column; 
        text-align: center;
    }

    .about-img, .about-text {
        width: 100%; 
    }

    .about-img {
        height: 250px;
    }

    .about-text .btn-primary {
        margin: 20px auto 0; 
    }


    .dream-home-content {
        flex-direction: column-reverse; 
        text-align: center;
    }

    .dream-home-text, .dream-home-img {
        width: 100%;
    }

    .dream-home-text .btn-primary {
        margin: 20px auto 0; 
    }

    .dream-home-img {
        margin-bottom: 20px;
    }


    .testimonial-cards {
        flex-direction: column;
        align-items: center;
    }

    .hero-section2 {
    background-color: #885252;
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color:yellow;
    position: relative;
    transition: 2s;
    font-family: cursive;
    display: none;
   
}

a{
text-decoration: none;
color: yellow;

}   

.a2{
    text-decoration: none;
    color: black;
}

.seta{
    z-index: 2;
    position: fixed;
    top: 860px;
    font-size: 30px;
    background-color: white;
    border-radius: 30px;
    width: 50px;
    text-align: center;
    margin-left: 1810px;
    
}

.imgl{
     width: 18%;
     margin-right: 390px;
     margin-bottom: 50px;
     margin-top: -40px;
     height: 30px;
}

.sombra{
    background-color: rgba(239, 239, 239, 0);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
 
        
}

.seta{
    z-index: 2;
    position: fixed;
    top: 860px;
    font-size: 30px;
    background-color: white;
    border-radius: 30px;
    width: 50px;
    text-align: center;
    margin-left: 400px;
    
}


.meu3d{
    z-index: 3;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100dvh;
    background-color: rgba(115, 114, 114, 0);
    display: none;
}

.cubo{
    background-color: white;
    width: 150px;
    height: 300px;
    font-size: 20px;
    color: black;
    margin-left: 20%;
    margin-top: 75px;
    border: solid black 2px;
    border-radius: 20px;
    text-align: center;

}

.cubo h1{
       padding-top: 30px;
       font-family: cursive;
}

#cub:target {
    display: block;
}

.x{
    margin-top: -10px;
}

.ax{
    color: black;
    margin-top: -10px;
}

.ax h1{
     font-size: 12px;
     color: black;
}

}